html,
body,
.mycommunity {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.hot_classfiywrap {
    width: 100%;
    height: 5rem;
}

.hot_title {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: .45rem;
    font-weight: 600;
}

.hot_menu {
    width: 100%;
    height: 2.6rem;
    display: flex;
    align-items: center;
}

.hot_menu_box {
    width: 96%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.hot_menu_item {
    width: 2.2rem;;
    text-align: center;
    height: .8rem;
    line-height: .8rem;
    font-size: .35rem;
    border-radius: 2.2rem;
    background: #f0f0f0;
}

.all_label {
    width: 100%;
    height: .8rem;
}

.all_label>div {
    width: 50%;
    margin: 0 auto;
    font-size: .3rem;
    text-align: center;
    color: #2e2e2e;
}

.hot_menu_active {
    background: linear-gradient(to right, #f6b3b7, #7c9fb8, #b3a0c2);
    color: #fff;
}

.split_line {
    width: 100%;
    height: .2rem;
    background: #f6f6f6;
}

.minecommunity_body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.community_navbox {
    width: 2.8rem;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

.community_listwrap {
    flex: 1;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

.menu_item {
    width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
    background: #f8f8f8;
}

.menu_itemtext {
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: .45rem;
}

.defaultbg {
    background: #f8f8f8;
}

.activebg {
    background: #fff;
    color: red;
}

.menu_itembox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}

.community_item {
    width: 100%;
    height: 1.7rem;
    display: flex;
    align-items: center;
    position: relative;
}

.community_item::after {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
    content: ' ';
    display: block;
    transform: scaley(0.5);
}
.commuinty_img{
    width: 1.2rem;
    height: 1.2rem;
    /* border: 1px solid yellow; */
    border-radius: .2rem;
}
.commuinty_img > img{
    width: 100%;
    height: 100%;
    border-radius: .2rem;
}
.community_name > span{
    font-size: .45rem;
    padding-left: .4rem;
}
.searchwrap{
    width: 100%;
    height: 1.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1ff;
    
}
.search_box{
    font-size: 16px;
    width: 90%;
    height: .9rem;
    margin: 0 auto;
    line-height: .9rem;
    background: #f3f5f9;
    color: #a4a4a4;
    border: 1px solid #f1f1ff;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center
}
.search_box_icon{
    text-align: center;
    width: 10%;
    height: 100%;
    font-size: .4rem;
  
}
.search_box_input{
    flex: 1;
    height: 100%;
    vertical-align: middle;

}
.search_box_input  input{
    width: 96%;
    border: 0px;
    height: 90%;
}
.content{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.menu_active{
    background: #ffffff;
}
.menu_defalut{
    background: #f8f8f8;
}